<h1>Transactions</h1>

<% @transactions.each do |transaction| %>
  <p><%= transaction.outlet %> | £<%= transaction.amount %> | Date: <%= transaction.date %></p>
  <h2>What we can offer<h2>
  <% @offers.each do |offer| %>
    <% if offer.tag == transaction.tag %>
      <p><%= offer.product %> : <%= offer.message %></p>
    <% end %>
  <% end %>
<% end %>
